.contactform {
  display: grid;
  place-items: center;
  margin-left: 3px;
  margin-right: 3px;
}

.contactform h2 {
  margin-left: 0px;
  font-size: 17px;
  align-items: center;
}

.contactform input {
  margin-top: var(--space-small);
  margin-bottom: var(--space-small);
}
